.room-container {
    background-color: whitesmoke; 
}

.room-container img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    transition: transform 0.4s ease; /*在0.4秒做完transform效果*/
}

.room-container img:hover {
    transform: scale(1.04); /* 略微放大圖片 */
}

.room-description {
    padding: 20px;
    background-color: white;
    border-radius: 10px;
}

.room-description h3 {
    margin-top: 0;
    font-size: 24px;
}

.room-description p {
    font-size: 16px;
    line-height: 1.5;
}

.room-features {
    list-style-type: disc;
    padding-left: 20px;
    margin: 10px 0;
    column-count:2;
}

.room-features li {
    margin-bottom: 5px;
}

.book-now {
    text-align: right;
    margin-top: 20px;
}

.book-now a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #000000;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.book-now a:hover {
    background-color: #444;
}
